/* Photographer header with name, contact button and avatar */
.photographer-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  padding: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.header__contact-btn {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.sorter {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.sorter select {
  padding: 20px;
  border: 0;
  border-radius: 5px;
  background-color: #901c1c;
  color: #fff;
}

.photographer-medias {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px 7.66%;
  align-items: flex-start;
  padding: 50px 0;
}

/* Photographer's medias */
.media {
  width: 100%;
}

.media__header {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.media__img {
  object-fit: cover;
  aspect-ratio: 350 / 300;
}

.media__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 10px 0;
}

.media__name {
  font-size: 24px;
  font-weight: normal;
  color: #901c1c;
}

.media__likes {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 24px;
  font-weight: 500;
  color: #901c1c;
}

/* Fiexed photographers infos */
.details {
  position: fixed;
  bottom: 0;
  right: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: 375px;
  padding: 20px 34px 16px 31px;
  border-radius: 5px 5px 0 0;
  background-color: #db8876;
  font-size: 24px;
  font-weight: 500;
}

/* Contact modal */
body.modal-opened {
  overflow: hidden;
}

.overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(196, 196, 196, 0.4);
  overflow: auto;
}

.modal__wrapper {
  display: block;
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  width: 86.12%;
  max-width: 670px;
  height: 100%;
  max-height: 90%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;

  animation-name: modalopen;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.modal__wrapper.closing {
  animation-name: modalclose;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 15px 35px 35px;
  background-color: #db8876;
  overflow-y: auto;
}

/* Modal animations */
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

@keyframes modalclose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-150px);
  }
}

.modal__header {
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.modal__close {
  padding: 11px;
  border: 0;
  background: none;
  color: #fff;
  font-size: 42px;
  cursor: pointer;
}

.modal__header h2 {
  font-size: 64px;
  font-weight: normal;
  line-height: 1;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.form__label {
  color: #312e2e;
  font-size: 36px;
  line-height: 1.2;
}

.form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  height: 68px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

.form__input--textarea {
  height: auto;
}

.form__btn {
  margin-top: 26px;
  padding: 22px 50px;
  border-radius: 5px;
  border: 0;
  background-color: #901c1c;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

/* Lightbox */
.lightbox__wrapper {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  overflow: hidden;
  z-index: 2;

  animation-name: modalopen;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.lightbox__wrapper.closing {
  animation-name: modalclose;
}

.lightbox__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 62px 7.66% 35px;
  overflow-y: auto;
}

.lightbox__header {
  position: absolute;
  top: 62px;
  left: 7.66%;
  right: 7.66%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.lightbox__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  font-size: 48px;
  color: #901c1c;
  cursor: pointer;
}

.lightbox__btn--sm {
  margin: 0 12px;
  width: 72px;
  height: 72px;
  font-size: 42px;
}

.lightbox__body {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.lightbox__media {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.lightbox__media img {
  border-radius: 5px;
  overflow: hidden;
}

.lightbox__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  color: #901c1c;
}

/* Utils */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
